button {
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

.button {
  @include box-sizing(border-box);
  @include transition(background 0.2s);
  background: $color-primary;
  border: 1px solid transparent;
  border-bottom: 3px solid $color-primary-dark;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
  }

  &[disabled],
  &.disabled {
    @include opacity(0.3);
    background: $color-primary;
    cursor: default;
  }
}

.button-large {
  @include font-size(18);
  padding: 6px 15px;
}

.button-warning {
  background: $color-warning;
  border-bottom-color: $color-warning-dark;
}
