input {
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  font-family: inherit;
  font-size: 100%;
  max-width: 100%;
}

.input-text {
  @include transition(all 0.2s);
  background: $color-neutral-dark;
  border: 1px solid transparent;
  border-top: 3px solid $color-neutral-darker;
  border-radius: 2px;
  color: inherit;
  display: inline-block;
  margin: 0;
  padding: 3px 10px;
  vertical-align: middle;

  &:focus {
    outline: none;
  }

  &[disabled] {
    opacity: 0.3;
  }
}

.input-bare {
  background: transparent;
  border: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.input-large {
  @include font-size(18);
  display: block;
  padding: 6px 15px;
  width: 100%;
}

@include placeholder {
}

// ::-webkit-outer-spin-button,
// ::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

textarea {
  overflow: auto;
  max-width: 100%;
  resize: vertical;
  vertical-align: top;
}
