// Colors
// ---------------------------------------

// gray, pea, plum
$color-neutral: #EBE3AA;
$color-scale-1: darken(#CAD7B2, 5);
$color-scale-2: #A8CABA;
$color-scale-3: #838689;
$color-scale-4: #5D4157;

// plum, orange, magenta
$color-neutral: #331327;
$color-scale-1: #991766;
$color-scale-2: #D90F5A;
$color-scale-3: #F34739;
$color-scale-4: #FF6E27;

// navy, creams, pinks
// $color-neutral: #142930;
// $color-scale-1: #FDFFD9;
// $color-scale-2: #FFF0B8;
// $color-scale-3: #FFD6A3;
// $color-scale-4: #FAAD8E;

$color-neutral-lighter: lighten($color-neutral, 15);
$color-neutral-light: lighten($color-neutral, 8);
$color-neutral-dark: darken($color-neutral, 5);
$color-neutral-darker: darken($color-neutral, 10);

$color-scale-1-light: lighten($color-scale-1, 10);
$color-scale-1-dark: darken($color-scale-1, 10);

$color-scale-2-light: lighten($color-scale-2, 10);
$color-scale-2-dark: darken($color-scale-2, 10);

$color-scale-3-light: lighten($color-scale-3, 10);
$color-scale-3-dark: darken($color-scale-3, 10);

$color-scale-4-light: lighten($color-scale-4, 10);
$color-scale-4-dark: darken($color-scale-4, 10);

$gray: #424254;

$color-body: #fff;
$color-primary: lighten($color-scale-1, 20);
$color-primary: #046D8B;
$color-primary: #309292;
$color-primary: #8F9BEB;
$color-primary-dark: darken($color-primary, 10);


// Fonts
// ---------------------------------------

$font-primary: "Lato", "Helvetica Neue", "Arial", sans-serif;
$font-heading: "Alegreya Sans", sans-serif;
$font-mono: monospace, serif;


// Misc
// ---------------------------------------

$spacing-horizontal: 20px;
$spacing-vertical: 20px;

$page-width: 960px;
