.items-list {
  @include list-clean;
  margin-left: (-$spacing-horizontal + 4);

  > li {
    @include inline-block;
    @include transition(width 0.4s);
    margin-left: em(-4);
    padding-left: $spacing-horizontal;
    vertical-align: top;
    width: 25%;
  }

  @media all and (min-width: em(1080)) {
    > li {
      width: 20%;
    }
  }

  @media all and (max-width: em(780)) {
    > li {
      width: (100%/3);
    }
  }

  @media all and (max-width: em(660)) {
    > li {
      width: 50%;
    }
  }
}

.item {
  @include transition(all 0.3s);
  background: $color-scale-1;
  border: 4px solid $color-scale-1-dark;
  border-radius: 2px;
  margin: 0 0 20px;
  padding: 20px;
  position: relative;
  text-align: center;

  &.expired {
    background: $color-neutral-dark;
    border-color: $color-neutral-darker;
  }

  &.expires-today {
    background: $color-scale-4;
    border-color: $color-scale-4-dark;
  }

  &.expires-soon {
    background: $color-scale-3;
    border-color: $color-scale-3-dark;
  }

  &.expires-this-week {
    background: $color-scale-2;
    border-color: $color-scale-2-dark;
  }
}

.item-name {
  @include font-size(20);
  @include text-ellipsis;
  display: block;
}

.item-expiration {
  display: block;
}
